.detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
  }
  
  .titleSection {
    text-align: center;
    font-size: 24px;
    border: 1px solid black; /* Thin bottom border for a clean look */
  }
  
  .middleSection {
    display: flex;
    gap: 20px;
  }
  
  .imageSection {
    flex: 1;
    max-width: 55%;
  }
  
  .image {
    width: 100%;
  }
  
  .contentSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .descriptionSection h2{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .meetupSection{
    text-align: left;
  }
  
  .blank{
    display: flex;
    height: 100%;
  }

  .addressSection p {
    font-size: 14px;
    font-style: italic;
    font-family: Tahoma, Verdana, sans-serif;
    margin: 2px 0;
  }
  
  .bottomSection {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 14px;
  }
  
  .contactInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  